
/* 
 .bg-img{
    background: rgb(3, 122, 3)
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
  } */
  body {background-color: rgb(66, 53, 53);}

  .bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6); 
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }
  .content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    border-radius: 10vh;
    background: rgba(255,255,255,0.94);
  }
  .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 10vh;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .space{
    margin-top: 16px;
  }
  .show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .pass-key:valid ~ .show{
    display: block;
  }
  .pass{
    text-align: left;
    margin: 10px 0;
  }
  .pass a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
  }
  .pass:hover a{
    text-decoration: underline;
  }
  .field input[type="submit"]{
    background: #259c0d;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .field input[type="submit"]:hover{
    background: #0e2509;
    
  }
  .login{
    color: white;
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
    
    
  }
  
  i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .signup{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
  }
  .signup a{
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  
    .check-box{
      font-size: 15px;
      color:whitesmoke;
      font-family: 'Poppins',sans-serif;
      text-align: right;
  } 