body{
  overflow-x: hidden;
  overflow-y: hidden;
}

 .bg-img{
  height: 99vh;
  width: 100%;
  background-size: contain;
  background-position: center;
} 
 video{
  height:100vh;
  width: 100vw;
  object-fit:cover;
  margin: 0%;
  padding: 0%;
  opacity: 98%;
}

/* 
.bg-img:after{
  position: absolute;
  content: 'sdsds';
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  background: rgba(0,0,0,0.6);
} */



.content{
  position: absolute;
  top: 50%;
  left: 80%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 400px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,4);
  height: 60%;
}
.content header{
  color: rgba(255, 255, 255, 0.8);
  font-size: 53px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 65px;
  width: 100%;
  border-radius: 10vh;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 68px;

}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border-radius: 10vh;
  border: none;
  outline: none;
  color: #222;
  font-size: 22px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  font-size: larger;
  font-family: bolder;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  margin-left: 10%;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #2b2b2a;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #464645;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
  
  
}


.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.google{
  width: 100%;
  height: 65px;
  line-height: 45px;
  margin-left: 10px;
  border-radius: 1vh;
}
.facebook{
  margin-left: 0;
  background: #065dff;
  
}
.google{
  background: #e90914;
  
  
}
.facebook:hover{
  background: #4d8bff;
}
.google:hover{
  background: #ff3a44;

}
.links i{color: rgb(255, 255, 255);
  font-size: 27px;
}
i span{
  
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 20px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

  .check-box{
    font-size: 15px;
    color:whitesmoke;
    font-family: 'Poppins',sans-serif;
    text-align: right;
} 

/* 

/* 
::-webkit-scrollbar {
  width: 18px;
}

/* Track 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(61, 175, 15);
  border-radius: 10px;
}

/* Handle 
::-webkit-scrollbar-thumb {
  background: rgb(61,175, 15);
  border-radius: px;
}
::-webkit-scrollbar-button{
size: 10vh;

} */
